<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.neo.My-Brighton.Timetable.refresh</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>NSAppIconActionTintColorName</key>
			<string>AppShortcutsIconTintColour</string>
			<key>NSAppIconComplementingColorNames</key>
			<array>
				<string>AppShortcutsTopColour</string>
				<string>AppShortcutsBottomColour</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(DEVELOPMENT_TEAM).com.neo.My-Brighton.Deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mybrighton</string>
			</array>
		</dict>
	</array>
	<key>CUSTOM_STUDENT_NUMBER</key>
	<string>00000000</string>
	<key>CoreSpotlightContinuation</key>
	<true/>
	<key>DEV_TEAM_ID</key>
	<string>$(DEVELOPMENT_TEAM)</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.neo.My-Brighton.course.view</string>
		<string>com.neo.My-Brighton.timetable.view</string>
		<string>com.neo.My-Brighton.my-studies.course.announcement.view</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Project Demo can send notifications when new content are added to your courses or societies or for important updates.</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>graduationcap</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Blackboard</string>
			<key>UIApplicationShortcutItemType</key>
			<string>myStudies</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search</string>
			<key>UIApplicationShortcutItemType</key>
			<string>search</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
